
.container-fluid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3%;
  }
  
  .form-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 30px;
    max-height: 100%;
    overflow-y: auto;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 30px;
  }
  
  .info {
    display: block;
    font-weight: 600;
    font-size: 1.2em;
    color: #6b6969;
  }

  .info_sub {
    display: block;
    font-weight: 600;
    font-size: 0.8em;
    color: #6b6969;
  }
  
  .info_center {
    text-align: center; /* Centers horizontally */
    vertical-align: middle; /* Centers vertically */
  }

  .center-checkbox {
    width: 5%;
    text-align: center; /* Centers horizontally */
    vertical-align: middle; /* Centers vertically */
  }

  .label_checkbox {
    width: 20%;
  }
  
  .lguages th, .lguages td {
    border: 1px solid #333;
    width: 150px; /* Set a fixed width for each cell */
    height: 50px; /* Set a fixed height for each cell */
    overflow: hidden; /* Hide overflow if the content is too large */
    text-overflow: ellipsis; /* Optional: To show "..." for overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
  }

  input[type="checkbox"] {
    transform: scale(1.5); /* Adjust the scale as needed */
    width: 15px; /* Optional: Set a custom width */
    height: 15px; /* Optional: Set a custom height */
    margin: 5px; /* Optional: Add some margin for spacing */
  }

  .profile-container {
    width: 80%; /* Adjust this value as needed to make the table smaller */
    margin: 5vh auto; /* Center the table */
}