.table-containers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 5vh auto;
  width: 80%;
}

.table-container {
  width: 100%;
}

.docu {
  text-decoration: none;
  margin-right: 3rem;
  transition: transform 0.3s, font-size 0.3s; /* Smooth transition for hover effect */
}

.docu:hover {
  transform: scale(1.1); /* Slightly scale the text on hover */
  font-size: 1.2rem; /* Optionally increase the font size */
}

.search-icon {
  left: 15px; /* Adjust this value as needed */
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: #aaa; /* Icon color */
  font-size: 16px;
}

#search-input {
  padding-left: 40px; /* Add space to the left for the icon */
}

.linear-line {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
}

.linear-line::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #333, #888); /* Linear gradient for the line */
}

.txt-area {
  border: none;
  width: 40vw;
  resize: none; /* To prevent manual resizing */
  overflow: hidden; /* Hide the scroll bar */
}
