.table-container {
    width: 50vw; /* Adjust this value as needed to make the table smaller */
    max-width: auto;
    margin: 5vh auto;
    padding: 30px;
    border-radius: 15px;
    background-color: #fff;
	box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.table {
  border-radius: 20px;
  font-size: 0.95rem; /* Adjust the font size to make the table content smaller */
}

.table td, .table th {
  
  background-color: transparent;
    padding: 0.5rem; /* Adjust padding to make cells smaller */
    text-align: flex-start;
}
