.profile-container {
  width: 80%; /* Adjust this value as needed to make the table smaller */
  margin: 5vh auto; /* Center the table */
}

.form-content { 
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 30px;
  max-height: 100%;
  overflow-y: auto;
}