.card-container {
    margin: 5vh auto;
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next row if the screen is too narrow */
    justify-content: flex-start; /* Aligns cards to the right side */
    gap: 20px; 
}

.card-container-outside{
    margin: 5vh auto;
    width: 80%;
}

.custom-card {
    width: 15rem;
    height: 25rem;
    flex: 0 0 auto; /* Ensures cards don't shrink and maintain their width */
}

.card-text {
    max-height: 70px; /* Adjust based on your preferred collapsed size */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limits the number of lines in the collapsed state */
    -webkit-box-orient: vertical;
    transition: max-height 0.3s ease;
}

.card-text.expanded {
    max-height: none; /* Allows the full height of the description */
    -webkit-line-clamp: unset; /* Removes the line clamp */
}

.modal-container .modal-content{
    margin: 5vh auto; /* Center the table */
    width: auto;
  }
